[ req ]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
req_extensions = v3_req

[ req_distinguished_name ]
C = BR
ST = São Paulo
L = São Paulo
O = JOÃO DA SILVA
OU = JOÃO DA SILVA
CN = 610.947.300-68
emailAddress = email@example.com
OID.2.16.76.1.3.3 = 79839601000142

[ v3_ca ]
subjectAltName = @alt_names
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
2.16.76.1.3.3 = ASN1:UTF8String:1504200161094730068

[ alt_names ]
email = email@example.com
