[ req ]
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
req_extensions = v3_req

[ req_distinguished_name ]
C = BR
ST = SP
L = São Paulo
O = ICP-Brasil
OU = Certificado PJ A1
OU = Certificado Digital
OU = 61094730068
CN = JOAO DA SILVA:61094730068
OU = AC SOLUTI Multipla v5
emailAddress = email@example.com

[ v3_ca ]
subjectAltName = @alt_names
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
email = email@example.com
otherName.1 = 2.16.76.1.3.1;UTF8:1504200161094730068
