name: CI

on:
  push:
    branches: ['**'] # TODO: add "!main" to array

  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-

      - name: setup node-version v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # - run: |
      #     cd vendor/libxml2
      #     ./autogen.sh --prefix=$(pwd)/build
      #     make -j$(nproc)
      #     make install

      - run: sudo apt update && sudo apt install -y libxml2-dev pkg-config

      - run: export CXXFLAGS="-I$(pkg-config --cflags-only-I libxml-2.0)"
      # - run: pkg-config --libs libxml-2.0

      - name: install dependencies
        run: |
          corepack enable
          pnpm install --frozen-lockfile

      - name: run lint
        run: make lint

      - name: run build
        run: make build

      - name: run unit tests
        run: make test
