name: CI

on:
  push:
    branches: ['**'] # TODO: add "!main" to array

  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: setup node-version v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: sudo apt update && sudo apt install libxml2-dev

      - run: npm install -g pnpm

      - name: install dependencies
        run: pnpm install

      - name: run lint
        run: make lint

      - name: run build
        run: make build

      - name: run unit tests
        run: make test
