name: CI

on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, latest]

    runs-on: ${{ matrix.os }}

    env:
      NFETS_ADDONS_DIR: "${{ github.workspace }}/build/Release"
      NFETS_NFE_SCHEMAS_DIR: "${{ github.workspace }}/packages/nfe/schemas"

    steps:
      - uses: actions/checkout@v4

      - name: setup node-version v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: sudo apt update && sudo apt install -y libxml2-dev

      - run: |
          corepack enable
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: os:${{ matrix.os }}|node:${{ matrix.node-version }}|pnpm:${{ hashFiles('pnpm-lock.yaml') }}

      - name: install dependencies and rebuild addons
        run: |
          make install
          make addon

      - name: run lint
        run: make lint

      - name: run unit/integration tests
        run: make test
