name: CI

on:
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x64
            node-version: 22.x
          # - os: windows-latest
          #   arch: x64
          #   node-version: 22.x
          - os: macos-latest
            arch: arm64
            node-version: 22.x

    runs-on: ${{ matrix.os }}

    env:
      NFETS_ADDONS_DIR: "${{ github.workspace }}/build/Release"
      NFETS_NFE_SCHEMAS_DIR: "${{ github.workspace }}/packages/nfe/schemas"

    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment
        with:
          os: ${{ matrix.os }}
          architecture: ${{ matrix.arch }}
          node-version: ${{ matrix.node-version }}

      - name: Install packages
        uses: ./.github/actions/install-packages
        with:
          os: ${{ matrix.os }}
          node-version: ${{ matrix.node-version }}

      - name: Rebuild addons
        run: make addon

      - name: run lint
        run: make lint

      - name: run unit/integration tests
        run: make test
