name: CI

on:
  push:
    branches: ['**'] # TODO: add "!main" to array

  pull_request:
    types: [opened, synchronize]

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x, latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: setup node-version v${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: sudo apt update && sudo apt install -y libxml2-dev

      - run: |
          corepack enable
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: pnpm-${{ matrix.os }}-${{ matrix.node-version }}-${{ hashFiles('pnpm-lock.yaml') }}

      - name: install dependencies
        run: CXXFLAGS="$(pkg-config --cflags-only-I libxml-2.0)" LDFLAGS="$(pkg-config --libs libxml-2.0)" pnpm install --frozen-lockfile

      - name: run lint
        run: make lint

      - name: run build
        run: make build

      - name: run unit tests
        run: make test
